<!DOCTYPE html>

<html>
  <head>
  <title> Welcome </title>
  </head>
  <%- include("header.ejs") %>
  <body>
    <h1> Welcome the purpose of the project is to showcase user
         authentication and security. User role is showcased above
         and unless the user has the correct role, they are not 
         allowed to enter the admin areas. 
    </h1>
  </body>
</html>
