<!DOCTYPE html>
<html>
<link href="/css/nav.css" rel="stylesheet" type="text/css"> 
  <head>
  <title> Welcome </title>
  </head>
  <%- include("header.ejs") %>
  <body>
    <h1> Welcome! </h1>
    <p class="right"> Task: Develop a small web application that provides login security and group-based access control. 
      The application should allow users to search for people and display their contact information and other 
      confidential information i.e. SS#, salary, etc. for certain entitled users. 
    <p>

    <h2> About Me </h2>
    <p class="left"> Dedicated, reliable, and hardworking graduate with experience working in 
      fast paced environments while providing superior performance. 
      understanding and swiftly responding to problems encountered. Always 
      willing to put in extra effort in the completion of project duties and the 
      support of team members.
    </p>
  </body>
</html>
