<!DOCTYPE html>
<html>
<head>
  <title> Insufficient Permissions </title>
</head>
<body>
  <%- include("header.ejs") %>
  
  <h2> <%= data.user %> Does not have sufficient permissions to
       view this page. </h2>

</body>
</html>
